@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body{
    padding: 0;
    margin: 0;
    text-align: center;
    background: linear-gradient(#A01834, #EE7E1E);
    font-family: "Agdasima", sans-serif;
    font-weight: 600;
    font-style: normal;
}
img{
    width: 60px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
}
.foto{
display: flex;
justify-content: center;
}
.hero{
    text-align: center;
   .hero h2{
        text-decoration-style: double;
        border-bottom: black;
    }
}

.proyecto{
    display: flex;
    flex-direction: column;
    margin: 10px;
    border:solid 1px black;
    border-radius: 5px;
}
.web{
    padding: 10px;

  }
.form input{
    text-align: center;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.336); 
}
.form textarea{
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    height: 85px;
    margin-left: 5px;
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.336);
}
.boton{
    width: 30px;
    height: 20px;
    border-radius: 5px;
    border: none;
    font-size: 8px;
    padding: auto;
    }
    @media (min-width:768px) {
    .proyecto{
        display: flex;
        flex-direction: row;
       flex-wrap: nowrap;
       h3{
        margin-left: 5px;
        
       }
    }
.web{
     margin-left: 80px;
}

.form{
margin-left: 100px;
   width: 70%; 
   text-align: center;
}
.boton{
    width: auto;
    
}
.foto img:hover{
    box-shadow: -5px 5px 5px #EE7E1E;
    
    transition: 1s;
    transition-timing-function: ease;
}
    }
 @media (min-width:1024px) {
.proyecto{
    display: flex;
     flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    h3{
        margin-right: 100px;
    }
}
.web {
width: 100%;
    
}
.f1{
width: 15vw;

}
.f1:hover{
    transition: all 0.5s linear;
    width: 400px;
}
.form{
    
    width: 80%;
}
   .form input{
    
    display: block;
    margin-left: 320px;
   }
   input:hover{
    background-color: #f0a563;
    transition: 0.5s;
   }
   textarea:hover{
    background-color: #f0a563;
    transition: 0.5s;
   }
   button:hover{
    color: #ce7c35;
    background-color:#A01834;
    transition: 1s;
   }

   .foto:hover{
    box-shadow: 5px 5px px #EE7E1E;
    transition: 3s;
    transition-timing-function: ease;
}






 }
